<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>2048</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
    <script src="app.js"></script>
    <script src="firebase.js"></script>
</head>
<body>
<div class="header">
    <h1 class="display-1">2048</h1>
</div>
<div class="container">
    <div id="game">
        <div id="name">
            <form id ="name_form" v-on:submit.prevent="init">
                <input v-model="name" id="user_name" type="text" name="user_name" placeholder="Enter your name" required="required"/>
                <input type="submit" name="submit_name" value="Submit"/>
            </form>
        </div>

        <div class="score_list" style="display: none;">
            <h2 style="color: white">High Scores</h2>
            <br>
            <ul class="list-group list-group-flush" id="score-group"></ul>
            <br>
            <button type="button" class="btn btn-dark" v-on:click="init">Play Again</button>
        </div>

        <div id="grid_container" style="display: none;">
            <div class="score">
                <div id="current_score">
                    <p :key="score">Score: {{ score }}</p>
                </div>
                <div id="high_score">
                    <p :key="score">High Score: {{ highScore }}</p>
                </div>
            </div>
            <div id="grid">
                <div class="cells" v-for="cell in grid[0]" :class="cell.class">{{ cell.value }}</div>
                <div class="cells" v-for="cell in grid[1]" :class="cell.class">{{ cell.value }}</div>
                <div class="cells" v-for="cell in grid[2]" :class="cell.class">{{ cell.value }}</div>
                <div class="cells" v-for="cell in grid[3]" :class="cell.class">{{ cell.value }}</div>
            </div>
            <br>
            <div class="game-over">
                <div class="reset_game" v-if="!gameLost && !gameWon">
                    <button type="button" class="btn btn-dark" v-on:click="init">Reset Game</button>
                </div>
                <div class="game-lost" v-if="gameLost">
                    <div class="lost">You Lose!</div>
                    <div class="ending-score">Ending Score: {{ score }}</div>
                    <div class="play-again" @click="init">Play Again</div>
                    <div class="view_leaderboards" @click="viewLeaderboards">View Leaderboards</div>
                </div>
                <div class="game-won" v-if="gameWon">
                    <div class="won">You Won!</div>
                    <div class="ending-score">Ending Score: {{ score }}</div>
                    <div class="play-again" @click="init">Play Again</div>
                    <div class="view_leaderboards" @click="viewLeaderboards">View Leaderboards</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>
<script src="   https://www.gstatic.com/firebasejs/8.3.0/firebase-firestore.js"></script>
<script type="module">
    // Import the functions you need from the SDKs you need
    // import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyANOQ1sk-b6-bp1hS6v_FQ9lwCjtEyyr_s",
        authDomain: "project-6134732419232994440.firebaseapp.com",
        projectId: "project-6134732419232994440",
        storageBucket: "project-6134732419232994440.appspot.com",
        messagingSenderId: "193507291704",
        appId: "1:193507291704:web:c391282ee762c4f3796ccd"
    };

    // Initialize Firebases
    firebase.initializeApp(firebaseConfig);
    const db = firebase.firestore();
</script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="app.js"></script>
<script src="firebase.js"></script>
</html>
